<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UrlShortner</title>
</head>
<body>
    <h2>Original Url -></h2>
    <h3><%= url %></h3>
    <br><br><br>
    <h2>Short Url -></h2>
    <h3><a href="<%= shortUrl %>"><%= shortUrl %></a></h3>
</body>
</html>
